h1 {
    font-size: 70px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    color: #FFFFFF
}

h2, h3 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    line-height: 1;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    &.lightitalic {
        font-weight: 300;
        font-style: italic;
        line-height: 1.2;
        font-size: 16px;
    }
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FD9237;
    border: 1px solid #FD9237;
    background-color: transparent;
    border-radius: 0;
}